.moviePoster {
  width: 300px;
  height: 450px;
  object-fit: cover;
  transition: transform 0.4s;
}

.moviePoster:hover {
  box-shadow: 0 5px 15px rgba(67, 52, 73, 0.8);
  transform: scale(1.07);
  transform-origin: 50% 50%;
}
