.movie-description {
  background-color: rgba(0, 0, 0, 0.85);
  margin-top: 2rem;
}

#bgImage {
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 100%;
}

.data-column {
  padding-right: 3rem;
}

.darker {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.fade-in {
  -webkit-animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.trailer-container:hover {
  border: 1px solid grey !important;
}

.trailer-container {
  cursor: pointer;
}

.trailer-container:hover .bi-play-circle {
  fill: grey;
}
